{% extends 'base.html' %}

{% block title %}Messages | Peer Skill Swap{% endblock %}

{% block content %}
<div class="row mb-5 mt-4">
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm border-0">
            <h4 class="card-header bg-dark text-white py-3 fw-bold"><i class="bi bi-chat-dots"></i> Inbox</h4>
            <div class="card-body p-0">
                {% if interacted_users %}
                    <ul class="list-group list-group-flush">
                        {% for interacted_user in interacted_users %}
                            <a href="{% url 'chat' interacted_user.username %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-4">
                                <div>
                                    <h5 class="mb-1 fw-bold">{{ interacted_user.username }}</h5>
                                </div>
                                <span class="badge bg-primary rounded-pill">Open Chat</span>
                            </a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="text-center py-5 px-3">
                        <i class="bi bi-chat-square-text text-muted" style="font-size: 3rem;"></i>
                        <p class="text-muted mb-3 mt-3">You don't have any messages yet.</p>
                        <a href="{% url 'skill_marketplace' %}" class="btn btn-outline-primary">Visit Marketplace</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
